html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Homepage
        link(rel="stylesheet", href="/css/homepage.css")
    body
        .nav-bar
            h1.nav-header  My Photo Albums 
            a(href="/logout").log-out Log-Out
        .container
            .left-bar
                ul#left-albums-list.album-holder
            
            .right-bar
                #first-row

                #images-load

                        
        script(src="/dataGetter.js")