html
head
    title Login
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="/cssmin/output.css")
body
    form(action="/homepage", method="post").form-general
        h1.header Login
        input(id="username" name="username" type="text" placeholder="Username")
        input(id="password" name="password" type="password" placeholder="Password")
        input(id="login-button" name="login-button" type="submit" value="Login")
        p.warn Username: admin && Password:admin
        p.text #{message}